:root {
    --accent-color: #816F65;
}

h5,
h6,
h7,
h8,
h9,
h10,
.h5,
.h6,
.h7,
.h8,
.h9,
.h10 {
    color: var(--accent-color);
    margin-bottom: 14px;
    font-family: 'acumin-pro-condensed', Arial, Sans-Serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
}